.dropdown{
    position: relative;

    &-btn-group{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &-toggle{
        width: 100%;

        &-split{
            width: auto;
            max-width: 40px;
            margin-left: auto;
        }
    }

    &-menu{
        position: absolute;
        width: 100%;
        inset: 0px auto auto 0px;
        margin: 0px;
        transform: translate(0px, 40px);
    }

    &.dropdown--invert &-menu{
        transform: translate(-50px, 40px);
    }
}